body {background-color: #ececec;}
h1   {color: black;}
p    {color: black;}
button{color:white;background-color: #616161}
#c1{color:black;background-color: #f7f7f7}
#c2{color:black;background-color: #f7f7f7}
#cr1{color:black;background-color: #f7f7f7}
#cr2{color:black;background-color: #f7f7f7}
#g1{color:black;background-color: #f7f7f7}
#g2{color:black;background-color: #f7f7f7}
#totalCredits{color:black;}
